* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrainsMono Nerd Font', 'monospace', monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent; /* rgba(43, 48, 59, 0.5) */
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
    padding-left: 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#workspaces .active {
    border-top: 1px solid white;
}

#clock,
#battery,
#pulseaudio,
#network,
#custom-power,
#backlight {
    padding: 5 10;
}